<div class="container">
  <div class="d-flex flex-row">
    <div class="col-sm-6">
      <h1>Profil</h1>
      <p>Nom: <%= @user.name %> </p>
      <p>Adresse: <%= @user.address %></p>
      <p>N° Téléphone: <%= @user.phone_number %></p>
      <p>Email: <%= @user.email %></p>
      <h3>Commentaires</h3>
      <ul><% @comments.each do |comment| %>
        <li><%= comment.content %><%=  link_to "Effacer", comment_path(comment),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger p-1 m-2"%>
          </li>
      <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="mt-5 form-control me-5">
        <h3>Ajouter un nouveau commentaire</h3>
        <%= simple_form_for ([@user, Comment.new(target: @user)]) do |f| %>
          <%= f.input :content %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
