<h1 class="text-center mt-5">Confirmer et payer</h1>

<div class="reservation-layout">

  <div class="reservation-box">
    <h2><%= @item.price %>€ / jour</h2>

    <% if @starting_date && @ending_date && @total_price %>
      <div class="reservation-summary">
        <p><strong>Date de début :</strong> <%= l(@starting_date) %></p>
        <p><strong>Date de fin :</strong> <%= l(@ending_date) %></p>
        <p><strong>Nombre de jours :</strong> <%= @duration %></p>
        <p><strong>Prix unitaire :</strong> <%= @item.price %>€</p>
      </div>
    <% end %>

    <p class="reservation-note">Vous ne serez pas débité maintenant</p>

    <div class="total-section">
      <p>Prix total : <%= @total_price %>€</p>
    </div>

    <%= simple_form_for [@item, @reservation] do |f| %>

      <%= f.input :starting_date, as: :date, input_html: { value: @starting_date }, label: "Date de début" %>
      <%= f.input :ending_date, as: :date, input_html: { value: @ending_date }, label: "Date de fin" %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.submit "Valider la réservation", class: "btn-link", style: "background-color: #4B367C; color: #fff;" %>
    <% end %>
  </div>

  <div class="reservation-box text-center">
    <h2 class="mb-3"><%= @item.name %></h2>

    <% if @item.image.attached? %>
      <div style="display: flex; justify-content: center;">
        <%= cl_image_tag @item.image.key, height: 300, width: 400, crop: :fill, style: "border-radius: 0.5rem;" %>
      </div>
    <% end %>

    <p class="mt-3"><%= @item.price %>€ / Jour</p>
    <p><%= @item.description %></p>
    <%= @item.category.capitalize %> de <strong>niveau <%= @item.power %>
  </div>

</div>
