<h1>Demande de réservation</h1>

<div class="reservation-layout">

  <div class="reservation-box">
    <h2><%= number_to_currency(@item.price) %> / day</h2>

    <%= simple_form_for [@item, @reservation] do |f| %>
      <%= f.input :starting_date, label: "À partir du", as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :ending_date, label: "Jusqu'au", as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.submit "Réserver" %>
    <% end %>

    <p class="reservation-note">Vous ne serez pas débité maintenant</p>

   <div class="total-section">
    <p>Prix unitaire : <%= number_to_currency(@item.price) %></p>
  </div>

  </div>

  <div class="reservation-box">
    <h1><%=@item.name%></h1>

  <% if @item.image.attached? %>
    <%= cl_image_tag @item.image.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <p>Price: <%= number_to_currency(@item.price) %></p>
  <p>Description: <%= @item.description %></p>
  <p>Power: <%= @item.power %></p>
  <p>Category: <%= @item.category %></p>
  </div>

</div>


<div class="links">
  <%= link_to 'Back to items', items_path, class: "btn-link" %>
  <%= link_to 'Dashboard', dashboards_path, class: "btn-link" %>
</div>

