
<%@items.each do |item| %>
    <h2 class="display-5"><%= link_to item.name, item_path(item), class: "text-decoration-none" %></h2>
<% if item.image.attached? %>
  <%= cl_image_tag item.image.key, height: 300, width: 400, crop: :fill %>
<% end %>

<% end %>

<%= link_to "Add New Item",new_item_path, class: "btn btn-secondary"%>
<%# <%= link_to "Dashboard", user_dashboards_path(current_user) %>
<%# <%= link_to "Réserver", new_item_reservation_path(@item) %>
<%= link_to "Dashboard", dashboards_path, class: "btn btn-warning" %>
