<!-- Scroll fluide -->
<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<div class="container mt-4 rounded-5">

  <div class="banner mb-4 position-relative" id="top">
    <%= image_tag "ChatGPT Image 29 mai 2025, 17_38_46.png", alt: "Bannière", class: "w-100 rounded-5", style: "height: 400px; object-fit: cover;" %>
    <div class="position-absolute top-50 start-50 translate-middle text-white text-center" style="width: 100%;">
      <h1 style="color: white; text-shadow: 2px 2px 8px #000;">Magic Bazaar, c'est pas sorcier !</h1>
    </div>
  </div>

  <h2 class="mb-4">Les derniers objets magiques</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <% @items.each do |item| %>
      <div class="col d-flex">
        <div class="card h-100 d-flex flex-column shadow-sm rounded-5 overflow-hidden w-100">
          <% if item.image.attached? %>
            <%= link_to item_path(item) do %>
              <div style="height: 200px; width: 100%; overflow: hidden;">
                <%= cl_image_tag item.image.key,
                class: "w-100 h-100 object-fit-cover" %>
              </div>
            <% end %>
          <% end %>

          <div class="card-body d-flex flex-column px-2 py-3 text-start" id="details-description">
            <h5 class="mb-1">
              <%= link_to item.name, item_path(item), class: "text-decoration-none text-dark" %>
            </h5>
            <p class="mb-0"><strong><%= item.price %>0€</strong></p>
            <p class="text-muted mb-0"><%= item.category %></p>
            <p class="text-muted mt-auto mb-0">
              <small><%= truncate(item.description.split[0...8].join(' '), omission: '...') %></small>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Bouton retour en haut -->
  <div id="button-purple" class="d-flex justify-content-between align-items-center mb-3">
    <%= link_to "⬆ Retour en haut", "#top", class: "btn btn-primary mt-3" %>
  </div>
</div>
