<div class="container">
  <h2 class="form-title">Ajouter un avis pour <%= @item.name %></h2>

  <%= simple_form_for [@item, @review], html: { class: "magic-form" } do |f| %>
    <div class="form-group">
      <%= f.label :content, "Commentaire" %>
      <%= f.text_area :content, class: "form-control", rows: 4 %>
    </div>

    <div class="form-group">
      <%= f.label :rating, "Note" %>
      <%= f.select :rating, Review::RATING, {}, class: "form-control" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "✨ Soumettre mon avis", class: "btn-submit" %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= link_to "⬅ Retour à l'objet", item_path(@item), class: "btn-link" %>
  </div>
</div>
