<h1>Add a review for <%= @item.name %></h1>

<%= simple_form_for [@item, @review] do |f| %>
  <%= f.input :content, as: :text, label: "Commentaire" %>
  <%= f.select :rating, Review::RATING, label: "Note" %>

  <div class="actions">
    <%= f.button :submit, "Submit my review" %>
  </div>
<% end %>

<%= link_to "â† Back to item", item_path(@item) %>
